section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 5px 5px 0px black;
}

@media (min-width: 768px) {
    section {
        padding: 20px;
        width: 80%;
        box-shadow: 8px 8px 0px black;
    }
}

@media (min-width: 1024px) {
    section {
        padding: 25px;
        width: 60%;
        max-width: 700px;
        box-shadow: 10px 10px 0px black;
    }
}
